# Advanced Python

## 1. Conditional Statement (if statement)

We might want some parts of our code to be executed only under certain conditions. This can achieved with an **if** statement. The Python syntax for conditional statement is 

```Python
if condition:
    statement(s)
```
where the `condition` is a boolean object, and the `statement(s)` can be replaced by any code.

>Python uses indentation to recognize blocks of codes, so be extremely careful with indentation.

As an example, let's create a program for grading midterm exams. If the entered graded is greater than 100, the program will throw an error.

In [ ]:
s = input("What is the student's grade?")
if int(s) > 100:
    print("the grade should be <= 100")
    
print(s)

If the input is <= 100, codes inside the if statement will not be executed. Another example

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

### else

Sometimes, you want to evaluate a condition and take one path if it is true but specify an alternative path if it is not. This is accomplished with an else clause:

```python
if condition:
    statement(s)
else:
    statement(s)
```

If `condition` is true, the first suite is executed, and the second is skipped. If <expr> is false, the first suite is skipped and the second is executed. Either way, execution then resumes after the second suite. Both suites are defined by indentation, as described above.

In [ ]:
a=2
b=3

if a>b:
    print("a is greater than b")
else:
    print("a is not greater than b")

In this example, x is less than 50, so the first suite are executed, and the second suite are skipped. But line 7 is executed regardless the `condition`.

### elif

There is also syntax for branching execution based on several alternatives. For this, use one or more elif (short for else if) clauses. Python evaluates each `condition` in turn and executes the suite corresponding to the first that is true. If none of the expressions are true, and an else clause is specified, then its suite is executed:

Let's create a program to convert numerical grades to letter grades

In [ ]:
n = input("Please enter the student's numerical grade")

if int(n)>=94:
    l = "A"
elif int(n)>=90:
    l = "A-"
elif int(n)>=87:
    l = "B+"
else:
    l = "F"

print(l)

### Nested if
You can have if statements inside if statements, this is called nested if statements.

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")
else:
    print("Less than or equal to 10")

### The pass Statement
if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [ ]:
a=11
if a>10:
    pass

### Ternary operator

Python supports one additional decision-making entity called a conditional **expression**. (It is also referred to as a conditional operator or ternary operator in various places in the Python documentation.

In its simplest form, the syntax of the conditional expression is as follows:

`<expr1> if <conditional_expr> else <expr2>`

You can use ternary operator to shorten the following codes

In [ ]:
x = int(input("Value of x:"))

if x%2 == 0:
    y = x/2
else:
    y = (x+1)/2
    
print(y)

To ....

In [ ]:
x = int(input("value of x:"))
y = x/2 if x%2==0 else (x+1)/2
print(y)

In [ ]:
g = 100

l = "A" if g>=94 else "not A"

In [ ]:
l

## 2. Loops

### 2.1 for loop

A `for` loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string). 

```python
for x in sequence:
    statements
```

The loop variable **x** (can be replace with any variable name) will take the value of each element of the **sequence**, one after another. For each of these elements, some statements are executed. For example

In [ ]:
seq = [1,2,3,4,5]
for i in seq:
    print(i)

In [ ]:
x = [1,2,3,4,5]
for i in x:
    print(i, end="\r")

`String` is also an iterable data type

In [ ]:
s = "hello"
for i in s:
    print(i)

### Exercise
Print 1 to 20 one after another

In [ ]:
for i in range(20):
    print(i+1, end=" ")

In [ ]:
for i in range(1,21,2):
    print(i, end=" ")

In [ ]:
for i in range(20):
    if (i+1)%2!=0:
        print(i+1, end=" ")

In [ ]:
if [0]:
    print("not empty")

In [ ]:
a = [1,2,3,4]
ans= [0]*4
for i in range(len(a)):
    ans[i] = sum(a[:i+1])

In [ ]:
ans

In [ ]:
for i in range(len(a)):
    if i==0:
        ans[0] = a[0]
    else:
        ans[i] = ans[i-1]+a[i]

In [ ]:
ans

In [ ]:
x = [1,2,3,4]
x = [1,1,1]
x = [1]*3
print(x)
"a"*3

In [ ]:
for i in range(10):
    if i % 2 == 0:
        pass
    else:
        print("*"*i)

### The break Statement
With the `break` statement we can stop the loop before it has looped through all the items:

For example, exit the loop when name is equal to Ben:

In [ ]:
names = ["Alice","Bob","Ben","Cindy"]

i = 0
for n in names:
    i=i+1
    print(i, end=" ")
    if n=="Ben":
        print("Ben is found!")
        break
    else:
        print(n)

### The continue Statement

With the `continue` statement we can stop the current iteration of the loop, and continue with the next:

Example: do not print Ben

In [ ]:
for n in names:
    if n=="Ben":
        continue
    else:
        print(n)

### Exercise

Semivariance is a measurement of data that can be used to estimate the potential downside risk of an investment portfolio. Semivariance is calculated by measuring the dispersion of all observations that fall below the mean or target value of a set of data.

$Semivariance = \frac{\sum_{x<\bar{x}}^n (x-\bar{x})^2}{n}$

Try to calculate the semivariance of the following return data.

In [ ]:
x = [1,3,5,7,8]

In [ ]:
import numpy as np

In [ ]:
x_bar = np.mean(x)

In [ ]:
ans = 0
for _ in x:
    if _ < x_bar:
        ans += (_-x_bar)**2
    else:
        continue

ans/len(x)

In [ ]:
r_ls =[-10, 5, 6, 8, 20, -6]

In [ ]:
import numpy as np
numerator = 0
for r in r_ls:
    if r < np.mean(r_ls):
        numerator += (r-np.mean(r_ls))**2
    else:
        continue

print(numerator/len(r_ls))

In [ ]:
r_bar = np.mean(r_ls)
numerator = 0
for r in r_ls:
    if r<r_bar:
        numerator += (r-r_bar)**2
    else:
        continue
        
semivar = numerator/len(r_ls)
print(semivar)

### List comprehension

Consider the following example: try create a new list from x=[0,1,2,3,..,9], where every element of the new list is equal to $x_i^2$

In [ ]:
y=[]
for i in range(10):
    y.append(i**2)
print(y)

**List comprehension** offers a shorter syntax when you want to create a new list based on the values of an existing list. The above task can be completed in one line of code.

In [ ]:
ls = [1,2,3,4,5,6]
ans = []
for x in ls:
    ans.append(x**2)
ans

In [ ]:
ans = [x**2 for x in ls]
ans

In [ ]:
y=[i**2 for i in range(10)]
print(y)

Formally the syntax for list comprehension is:
```python
newlist = [expression for item in iterable if condition == True]
```

In [ ]:
x = (1,2,3,4)
y = [i for i in x if i%2==0]
y

### 2.2 While Loop

The `for loop` has a well-defined number of iterations. But sometimes we want the program to keep running until something happens. In this case, the `while loop` comes into handy.

```python
while condition:
    statement(s)
    statement to modify the condition
```

As long as the condition is True, the while loop will keep running the statements. There has to be one statement within the while loop to modify the condition or exit the loop, otherwise the while loop can run forever.

In [ ]:
# Print i as long as i is less than 6:

i = 1
while i < 6:
  print(i)
  i += 1

## 3. Functions

A function is a block of code that is executed when the function is called by its name. You can also provide arguments to the function and the function can (not necessarily) return a result.

To define a function in Python, use the `def` keyword. As an example

```python
def myFunction():
  print("Hello from a function")
```

defines a function named my_function, it takes zero parameters, print a String and does not return anything. To call the function, use its name:

```python
myFunction()
```

### Arguments

Information can be passed into functions as arguments.

Parameters (the value it takes is known as arguments) are specified after the function name, inside the parentheses. You can add as many parameters as you want, just separate them with a comma.

The following example has a function with one parameter (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [ ]:
def my_function(fname):
  print(fname + " Xue")

my_function("Ben")

### Default (optional) Parameter Value

The following example shows how to use a default parameter value.
If we call the function without argument, it uses the default value:

```python
def my_function(fname = "Ben"):
  print(fname + " Xue")

my_function()
```

### Keyword Arguments

In cases where there are multiple parameters and some of them are optional, specifying the keyword might be useful to keep track of the arguments.

We've seen a lot of examples of using keyword arguments so for, for example in `plt.bar(x=,height=)`, x and height are keyword arguments.

### Arbitrary Arguments, *args

If you do not know how many arguments that will be passed into your function (e.g. the `print()` function), add a * before the parameter name in the function definition. This way the function will receive a tuple of arguments, and can access the items accordingly:

In [ ]:
def avg(*num):
    print(sum(num)/len(num))

avg(1,2,3,4)

> Arbitrary Arguments are often shortened to *args in Python documentations.

### Arbitrary keyword arguments, **kwargs

If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and you can access the items accordingly:

In [ ]:
def my_function(**name):
    if "lname" in name.keys():
        print("His last name is " + name["lname"])
    else:
        print("I don't know his last name, but his first name is" + name["fname"])

my_function(fname = "Ben", lname="Xue")

### Return values

So far, we've defined functions than can execute several statement. But what if we need a function that can return an object like the `woo.data("wage")` function.

In Python functions, you can use the `return` statement to return values.

In [ ]:
def square(x):
    return x**2

y = square(2)
print(y)

### Return multiple values

Python functions can return multiple values as a *Tuple*,

In [ ]:
def myFunc():
    a = 1
    b = 2
    return a,b # or return (a,b)

# you can receive the returned tuple using one varible
res = myFunc()
print(res)

# you can also recieve distinct values using multiple varialbes, this statement will automatically unpack the Tuple
res1, res2 = myFunc()
print(res1)
print(res2)